<!-- Template -->
<!-- Contentbereich -->
<div class="content-head">
    <h2>Auswertung Projekte / Fehler </h2>
</div>
<div class="content-body">

    @for loop = 0; loop < context['data'].length; loop++@
    @let project = context['data'][loop]@
    <div id="project-#loop#" class="container">
        @if project['childs'].length > 0@
        <h3>#project.title#</h3>
        @for i = 0; i < project['childs'].length; i++@
        @let component = project['childs'][i]@
        @if component['childs'].length > 0@
        <h4>#component.name#</h4>
        <table class="table-list current">
            <thead class="table-head">
            <tr>
                <th> Status</th>
                <th> Fehlerbeschreibung</th>
                <th> Meldedatum</th>
                <th> Behebungsdatum</th>
                <th> Zeitdifferenz</th>
            </tr>
            </thead>
            <tbody class="table-body">
            @for j = 0; j < component['childs'].length; j++@
            @entry = component['childs'][j];@
            <tr>
                <td><span class="symbol symbol-#entry.type#"></span>#entry['type']#</td>
                <td>#entry['desc']#</td>
                <td>#entry['startdate']#</td>
                <td>#entry['enddate']#</td>
                <td>#entry['diff']#</td>
            </tr>
            @endfor@
            </tbody>
        </table>
        @else@
        <h4>#component.name# <p>(keine Fehlermeldungen)</p></h4>
        @endif@
        @endfor@
        @else@
        <h3>#project.title# <p>(keine Komponenten)</p></h3>
        @endif@
    </div>
    @endfor@

</div>
<div class="content-footer">
    <h4>
        Diese Auswertung wurde am 15.01.19 erstellt
    </h4>
</div>

<script>

</script>

<!-- EOF -->